.wrapper{
	width: 100%;
	box-sizing: border-box;

}




/*Admin index*/
.center{
	margin: 100px auto;
}
.form-login{
	background: #f1f1f1;
	padding: 5px;
	border-radius: .3em;
	box-shadow: 1px 1px 2px #f1f1f1;
}
.form-login h3{
	text-align: center;
	text-transform: uppercase;
	margin: 20px 0;
	background:lightgreen;
	border-radius: .3em;
	opacity: .8;
	padding: 5px;
}

.card .card-header h2{
	text-align: center;
}